.container {
    width: 300px;
    margin: 0 auto;           
    padding: 20px;
    border: 2px solid #333;
    border-radius: 15px;      
    text-align: center;    
    background-color: #f9f9f9;
  }

  .red, .green, .yellow {
    width: 50px;
    height: 50px;
    display: inline-block;    
    border-radius: 50%;       
    margin: 10px;             
  }

 
  .red { background-color: red; }
  .yellow { background-color: yellow; }
  .green { background-color: green; }
